{% extends 'enroll/base.html' %}
{% load my_app_extra_filters %}
{% load static %}
{% block title %}Login Page{% endblock title %}
{% block pagedesc %}Enter the following credentials for <strong>Log In</strong>.{% endblock pagedesc %}

{% block form %}



    <form action="" method="post" novalidate>
                            {% csrf_token %}
                            <!--for wrong credential errors-->
                           
                        <!--wrong credential code ends here-->
       <div class="text-center my-4"><i class="fa fa-user fa-5x " aria-hidden="true"></i></div> 
         {% for fm in form %}
            <div class="mb-3 p-2 bd-highlight">{{fm.label_tag}}{% if fm.field.required %}<span class="Isrequired" style="color: red;">*</span>{% endif %} {{fm|add_class:"form-control"}}<span class="Errr mt-0">{{fm.errors|striptags}}</span> 
                
            </div>
        {% endfor %}
                        <div class="text-center my-3 ms-md-5 p-2 bd-highlight" > <input type="submit" value="Log in" class="btn btn-success  "> <a name="signup" id="signup" class="btn btn-primary ms-md-3"
                            href="{% url 'signup' %}" role="button">Signup</a>
                        </div>
                        </form>
                    


{% endblock form %}













<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In </title>
        <link rel="stylesheet" href="{% static 'enroll/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css'%}"> 
        <link rel="stylesheet" href="{% static 'enroll/css/style_errors.css'%}"> 
</head>

<body class= "bg-secondary" style="height: 100%;">
    
    <div class="container mt-5 h-100">
  
        
        
        <div class="alert alert-primary text-center mb-0" role="alert" style="height: 100%;">
            
            <p>  <b>Enter the following credentials for login.</b> </p>
          </div>
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-warning text-center mb-0 p-3 " role="alert" >

              <span class="Errr">{{error}}</span>
          </div>
             
          {% endfor %}
              {% endif %}
        <div class="border border-blank p-0 mx-0 bg-light rounded " >
            
            <div class="d-flex align-items-center justify-content-center " style="height: 500px; ">
                
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            <!--for wrong credential errors-->
                           
                        <!--wrong credential code ends here--><!--                        {% for fm in form %}
                                    <div class="mb-3 p-2 bd-highlight">{{fm.label_tag}} {{fm}} <span class="Errr">{{fm.errors|striptags}}</span> 
                
                                        </div>
                        {% endfor %}
                        <div class="text-center my-3 ms-md-5 p-2 bd-highlight" > <input type="submit" value="Log in" class="btn btn-success  "> <a name="signup" id="signup" class="btn btn-primary ms-md-3"
                            href="{% url 'signup' %}" role="button">Signup</a>
                        </div>
                        </form>
                
      
          </div>
        </div>
    </div>
            
            
 
    <script src="{% static 'enroll/js/all.min.js'%}"></script>
    <script src="{% static 'enroll/js/bootstrap.js'%}"></script>
    <script src="{% static 'enroll/js/jquery.js'%}"></script>
    <script src="{% static 'enroll/js/popper.js'%}"></script>
</body>

</html>



<!---

<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->