{% extends 'enroll/base.html' %}
{% load static %}
{% load my_app_extra_filters %}
{% block title %}Password Reset Page{% endblock title %}

{% block pagedesc %}Enter the following credentials to <strong>Update the Password</strong>.{% endblock pagedesc %}




{% block form %}

    
    <form action="" method="post" novalidate >
        {% csrf_token %}
         <div class="text-center my-4"><i class="fa fa-lock fa-5x " aria-hidden="true"></i></div> 
         {% for fm in form %}
             <div class="mb-3 p-2 bd-highlight">{{fm.label_tag}}{% if fm.field.required %}<span class="Isrequired" style="color: red;">*</span>{% endif %} {{fm|add_class:"form-control"}}<span class="Errr mt-0">{{fm.errors|striptags}}</span> 
                
            </div>
        {% endfor %}
        <div class="text-center my-3 ms-md-5 p-2 bd-highlight" > <input type="submit" value="Reset Password" class="btn btn-outline-success  "> <a name="login" id="login" class="btn btn-outline-primary ms-md-3"
                            href="{% url 'profile' %}" role="button">Home</a>
                        </div>

    </form>
{% endblock form %}


